.page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    background-image: linear-gradient(#F5F5F5, #E2D3CC);
}
.header-grid {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: auto;
}

/* .header-grid>img{ 
    height: 400 px;
    width: 450px;
    
} */

.header-logo {
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid black;
    
    /* grid-template-columns: 400px; */
    
}

.header-image {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 150px;
    background-image: url("../Images/header4.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
} 


.header-location {
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: 100px;
    font-weight: bold;
    
}

.header-button {
    grid-row: 2;
    grid-column: 3;
    margin-right: 5px;
}


.navbar-grid {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 250px 250px 250px 250px auto;
    grid-template-rows: 1;
    position: sticky;
    padding-top: 5px;
    padding-left: 5px;
    column-gap: 10px;
    border-bottom: 1px solid gray ;
    }

.nav-button0{
    grid-row: 1;
    grid-column: 1;
}

.nav-button1{
    grid-row: 1;
    grid-column: 2;
    
}

.nav-button2 {
    grid-row: 1;
    grid-column: 3;
    
}

.nav-button3 {
    grid-row: 1;
    grid-column: 4;
    
}

.welcome-grid{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    
}

.welcome-grid>img{
    height: 700 px;
    width: 1400px;
    padding-top: 50px;
    padding-left: 700px
    ;
}

.welcome-text{
    grid-row: 1;
    grid-column: 1;
    padding-top: 50px;
    margin-left: 5px;
}

.welcome-image {
    grid-column: 2;
    grid-row: 1;
}

.sellers-grid {
    grid-column: 1;
    grid-row: 4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}


.sellers-text {
    grid-column: 1;
    grid-row: 1;
    
}

.product-card-one-grid,
.product-card-two-grid,
.product-card-three-grid {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 164px 20px 20px ;
    width: 200px;
    height: 220px;
    box-shadow: 5px 4px 10px 0px rgba(0,0,0,0,45);
    background-color: white;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: 1px solid black;
}

.card-text {
    text-align: center;
    padding-top: 5px;
}

.card-price {
    text-align: center;
    padding-top: 8px;
    color: green;
}

.product-card-one-grid >img,
.product-card-two-grid >img,
.product-card-three-grid >img {
    height: 75px;
    margin: auto;
    margin-top: 25px;
}

.product-card-one-grid{
    grid-column: 1;
    grid-row: 1;
}

.product-card-two-grid{
    grid-column: 2;
    grid-row: 1;
}

.product-card-three-grid{
    grid-column: 3;
    grid-row: 1;
}

.deal-card {
    grid-row: 1;
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  20px 164px 20px ;
    width: 400px;
    height: 250px;
    box-shadow: 5px 4px 10px 0px rgba(0,0,0,0,45);
    background-color: white;    
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 200px;
    border: 1px solid black;
}

.deal-card >img {
    height: 175px;
    width: 200px;
    padding-top: 15px;
    margin-left: 100px;
}

.deal-text {
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}

.footer-grid {
    display: grid;
    grid-column: 1;
    grid-row: 5;
    grid-template-columns: 275px 250px auto;
    grid-template-rows: 1;
    /* column-gap: 550px; */
    border-top: 1px solid gray ;
}

.footer-text {
grid-row: 1;
grid-column: 1;
margin-top: 50px;
margin-left: 5px;
}

.footer-button {
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 650px;
    width: 150px;
}

.info-grid{
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 200px 200px 200px 200px;
    border-bottom: 1px solid gray;
}


.info-header {
    grid-column: 1/2;
    grid-row: 1;
    padding-top: 5px;
    
    
}

.info-bronze {
    grid-column: 1;
    grid-row: 2;
    padding-top: 50px;
}

.info-silver {
    grid-column: 1;
    grid-row: 3;
    padding-top: 50px;
}

.info-gold {
    grid-column: 1;
    grid-row: 4;
    padding-top: 50px;
}

.card-bronze {
    grid-column: 2;
    grid-row: 2;
    width: 300px;
    height: 150px;
    margin-left: 800px;
    margin-top: -75px;
    
}

.card-silver {
    grid-column: 2;
    grid-row: 3;
    width: 300px;
    height: 150px;
    margin-left: 800px;
    margin-top: -75px;
}

.card-gold {
    grid-column: 2;
    grid-row: 4;
    width: 300px;
    height: 150px;
    margin-left: 800px;
    margin-top: -75px;
}

.form-grid {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

.form-message {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 700px;
    padding-top: 10px;
    
}

.form-content {
    grid-column: 1;
    grid-row: 2;
    width: 500px;
    margin-left: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}
